body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0f172a;
color:white;
}

.layout{
display:flex;
}

/* MENU */
.sidebar{
width:260px;
height:100vh;
background:#020617;
padding:20px;
position:fixed;
}

.sidebar h2{
color:#38bdf8;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
margin:12px 0;
padding:8px;
border-radius:6px;
}

.sidebar a:hover{
background:#38bdf8;
color:black;
}

/* CONTENIDO */
.content{
margin-left:280px;
padding:40px;
max-width:900px;
}

section{
margin-bottom:60px;
background:#020617;
padding:25px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.5);
}

h1{
color:#38bdf8;
}

pre{
background:black;
padding:15px;
border-radius:8px;
overflow:auto;
}